/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.table-condensed tr th {
border: 0px solid #6e7bd9;
color: white;
background-color: #6e7bd9;
}

.table-condensed, .table-condensed tr td {
border: 0px solid #000;
}

tr:nth-child(even) {
background: #f8f7ff
}

tr:nth-child(odd) {
background: #fff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}
.card{
    box-shadow: 0 0 19px lightgrey;
    padding: 10px;
    border-radius: 10px;
}
.styleButton{
    width: 95px;
    display: flex !important;
    justify-content: center;
    padding: 5px 10px !important;
    margin: 10px 20px 0px !important;
    background-color: red!important;
}
.styleButtonUpdate{
    width: 95px;
    display: flex !important;
    justify-content: center;
    padding: 5px 10px !important;
    margin: 10px 20px 0px !important;
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}
.styleButtonCancel{
    width: 95px;
    display: flex !important;
    justify-content: center;
    padding: 5px 10px !important;
    margin: 10px 20px 0px !important;
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}
.styleInput{
    width: 95px;
    display: flex !important;
    justify-content: center;
    padding: 5px 10px !important;
    margin: 0px !important;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
